.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'editor'
    'output';
}

/* larger screens */
@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'editor output';
  }
}
