.editor {
  grid-area: editor;
}

.header {
  height: 42px;
  background-color: #44475a;
  padding: 0 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.headerButton {
  height: 42px;
  float: right;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.8;
  text-transform: uppercase;
  background-color: inherit;
  letter-spacing: 0.08em;
  cursor: pointer;
}

.headerButton:disabled {
  color: #999;
  cursor: default;
}
