.output {
  grid-area: output;
}

.header {
  height: 42px;
  background-color: #ebebeb;
  padding: 0 24px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
