.editor {
  grid-area: editor;
}

.headerButton {
  float: right;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.8;
  text-transform: uppercase;
  background-color: inherit;
  letter-spacing: 0.08em;
  cursor: pointer;
}

.headerButton:disabled {
  color: #999;
  cursor: default;
}
